html, body {
  margin: 0;
  padding: 0;
  background:rgb(0,0,0);
}

canvas {
  position:absolute;
  z-index:10;
  display: block;
  
  /* padding-left: 20em;
  margin-top: -5em; */
}

img {
  z-index:9;
}

image {
  z-index:28;
}

video {
  position:absolute;
  z-index:12;
}

.description {
  color:'white';
}

.main {
  position:absolute;
}


a {
  color:white;
}